
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

#.d files from c++ compiler
*.d

certificates*

LogFiles*

database-backups*

bin/*

output/*

src/calculator.pro.user

node_modules

external-source

configuration

calculator-html/autocomplete_keywords.js
calculator-html/server_information.js
