
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

#.d files from c++ compiler
*.d

*.new

certificates*

LogFiles*

database-backups*

bin/*

testFileWritePermissionsSSsas.txt

results/*

src/calculator.pro.user

node_modules

external-source

configuration

calculator-html/autocomplete_keywords.js
calculator-html/server_information.js
src/.qmake.stash

output/progress_subalgebras_*
output/progress_subalgebras_*
output/result_subalgebras_*
output/outputFileCommandLine.html
