
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

#.d files from c++ compiler
*.d

*.new

*.autosave

certificates*

LogFiles*

database-backups*
database_fallback/*
test/test_database.json

bin/*
calculator
output/crash_test.html

testFileWritePermissionsSSsas.txt

*.log
*.aux
*.out
*.pdf
*.gz
results/*

src/calculator.pro.user

node_modules

external-source

configuration

calculator-html/autocomplete_keywords.js
calculator-html/server_information.js
src/.qmake.stash

output/progress_subalgebras_*
output/progress_subalgebras_*
output/result_subalgebras_*
output/outputFileCommandLine.html
output/latexOutput.tex

public_html/MathJax-2.7-latest
