nav {
    line-height:30px;
    background-color:#eeeeee;
    width:auto;
    float:right;
    overflow: auto;
    padding:5px;	      
}
textarea {
  resize: both;
}
.calculatorHidden{
display:none;
}
.calculatorCommentBeforeSubmission{
display:none;
}
.problemForm{
}
.normalButton{
}
.submitButton{
color:red;
}
.submitButton:hover {
  background-color:#878787;
}
.previewButton {
  color:green;
}
.previewButton:hover {
  background-color:#878787;
}
.showAnswerButton {
  color:green;
}
.showAnswerButton:hover {
  background-color:#878787;
}

