nav {
    line-height:30px;
    background-color:#eeeeee;
    width:auto;
    float:right;
    overflow: auto;
    padding:5px;	      
}
textarea {
  resize: both;
}
.calculatorHidden{
display:none;
}
.calculatorCommentBeforeSubmission{
display:none;
}
.problemForm{
}
.submitButton{
}
.submitButton:hover {
	background-color:#878787;
}
.submitButton:active {
	position:relative;
	top:1px;
}
