/*styleCalculator.css*/
calculatorNavigation {
  background-color: #e8e8e8;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}
calculatorNavigation:after{
clear:both;
}
tr.problemContainerRow{
/*height: 500px;*/
}
td.problemContainerCell{
/*height: 500px;*/
}
problemNavigation {
  text-align: center;
  background-color: #f0f0f0;
  width: 100%;
  overflow: none;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
  white-space: nowrap;
}
problemNavigation:after{
clear:both;
}
editPagePanel{
  text-align: center;
  display: block;
  width: 100%;
  background-color:#fafafa;
  white-space: nowrap;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}
textarea{
  resize: both;
}
.calculatorHidden{
  display:none;
}
.calculatorCommentBeforeSubmission{
  display:none;
}
td.tableCellMQfield{
vertical-align: center;
padding: 5px;
min-width: 100px;
text-align: center;
}
.calculatorMQfieldEnclosure{
  display:inline-block;
  background-color:white;
  padding: 0px;
}
.problemForm{
}
.normalButton{
}
sectionSelection{
  position:fixed;
  background: silver;
  bottom:0;
  right:0;
}
.submitButton{
  color:red;
  width:60px;
}
.showSolutionButton{
  color:green;
  width:60px;
}
.submitButton:hover {
  background-color:#878787;
}
.previewButton {
  color:green;
  width:60px;
}
.previewButton:hover {
  background-color:#878787;
}
.showAnswerButton {
  color:green;
  width:60px;
}
.showAnswerButton:hover {
  background-color:#878787;
}
button.accordionLike {
  display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #efefef;
  padding: 2px;
  color: #444;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: medium;
  transition: 0.6s;
}
button.accordionLike.active, button.accordionLike:hover {
  background-color: #ddd;
}
button.accordion {
  border-radius: 3px;
  padding: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  display: inline;
  background-color: #efefef;
  color: #444;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: medium;
  transition: 0.6s;
}
button.accordion.active, button.accordion:hover {
  background-color: #dfdfdf;
}
button.accordion:after {
  vertical-align: middle;
  color: #777;
  margin-left: 0px;
}
button.accordion.active:after {
}
button.buttonStandard{
  margin: 2px;
}
button.buttonSaveEdit{
  margin:  3px;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 4px;
  display: inline;
  background-color: PaleGreen;
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: medium;
  transition: 0.6s; 
}
button.buttonSaveEdit:hover{
  background-color: green;
}
button.buttonClone{
  margin:  3px;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline;
  background-color: PaleGreen;
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: medium;
  transition: 0.6s; 
}
button.buttonClone:hover{
  background-color: green;
}
answerCalculatorHighlight{
display: inline-block;
/*background-color: #fbfbfb;*/
background-color: #bbbbbb;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
font-size: 1em;
border-radius: 3px;
font-weight: bold;
}
span.panelAnswer{
  display: inline-block;
  margin:  3px;
  padding: 3px;
  background-color: #ffffff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 1em;
  border-radius: 3px;
  transition: 0.6s;
}
span.panelAnswer:hover{
  background-color: #fbfbfb;
}
/*span.panelAnswer:hover .calculatorMQfieldEnclosureOuter{
  background-color: orange;
}*/
span.panelAnswer:hover .mq-editable-field.mq-math-mode{
  -webkit-box-shadow: #8bd 0 0 1px 2px, inset #6ae 0 0 2px 0;
  -moz-box-shadow: #8bd 0 0 1px 2px, inset #6ae 0 0 2px 0;
  box-shadow: #8bd 0 0 1px 2px, inset #6ae 0 0 2px 0;
  border-color: #709AC0;
  border-radius: 1px;
  transition: 2s;
}
span.panel {
  display:none;
  padding: 0 0px;
  background-color: white;
  max-height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  transition: 0.6s linear;
  opacity: 0;
}
span.panel.show {
  transition: 0.6s linear;
  opacity: 1;
  max-height: 500px;
}
button.studentScoresButton{
  margin-top: 0;
  margin-bottom: 0px;
  font-size: medium;
  font-weight: normal;
  background-color: Transparent;
  padding: 2px;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  transition: 0.6s;
}
button.studentScoresButton.active, button.studentScoresButton:hover {
  background-color: #d0d0d0;
}
span.studentScoresContent{
  transition: opacity 1s linear;
  opacity: 1;
}
panelStudentScores{
  display: inline-block;
  margin:  3px;
  padding: 3px;
  background-color: #fafafa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 1em;
  border-radius: 3px;
  transition: 0.6s;
}
panelCourseInfo{
  display: inline-block;
  margin:  3px;
  padding: 3px;
  background-color: #fafafa;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 1em;
  border-radius: 3px;
  transition: 0.6s;
}
span.panelProblemWeights{
  display: block;
  max-height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  transition: 1s linear;
  opacity: 0;
}
span.studentScoresWrapper{
  width: 420px;
  font-size: medium;
  font-weight: normal;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}
span.deadlineAndTitleContainer{
}
span.titleContainer{
}

table.tableCalculatorOutput{
  border-collapse: collapse;
}
td.cellCalculatorInput{
  border: 1px solid grey;
  padding-left: 5px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 20px;
  margin-left:  5px;
  vertical-align: top;
}
td.cellCalculatorResult{
  border: 1px solid grey;
  padding-left: 20px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  margin-left:  20px;
  vertical-align: top;
}

td.deadlineCell{
  padding: 8px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: normal;
  width: 300px;
  font-size: medium;
  vertical-align: middle;
}
table.deadlineTable tr td{
  margin: 0;
  padding: 0;
}
table.deadlineTable tr th{
  margin: 0;
  padding: 0;
}
textarea.calculatorAnswer {
  padding: 0 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
  word-wrap: break-word;
  width: 60px
}
textarea.calculatorAnswer.show {
  opacity: 1;
  max-height: 500px;
}
textarea.currentFileNameArea {
  height: 20px;
  margin-bottom: -8px;
}
ol.listItem{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-bottom: 5px;
}
li.listChapter{
  padding-bottom: 10px; 
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 5px;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
}
li.listSection{
  padding-bottom: 10px; 
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 5px;
  display: block;
  font-weight: bold;
  font-size: 0.9em;
}
li.listSubsection{
  padding-bottom: 10px; 
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 5px;
  display: block;
  font-weight: bold;
  font-size: 0.9em;
}
table.tableDatabase {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
table.tableDatabase td{
  border: 1px solid;
}
table.tableItem{
  width: 100%;
}
table.tableItem td, table.tableItem th {
  text-align: left;
  padding-left: 8px;
}
table.topicList {
  border-collapse: collapse;
  width: 100%;
  font-weight: normal;
  font-size: 1em;
}
table.topicList {
  margin-top: 4px;
  counter-reset: rowNumber;
}
tr.calculatorProblem {
  counter-increment: rowNumber;
}
table.topicList td, table.topicList th {
  border: 1px solid #dfdfdf;
  text-align: left;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
table.tableItem col:nth-child(1){
  width: 35%;
}
table.tableItem col:nth-child(2){
  width: 20%;
}
table.tableItem col:nth-child(3){
  width: 12%;
}
table.tableItem col:nth-child(4){
  width: 13%;
}
table.tableItem col:nth-child(5){
  width: 20%;
}
table.topicList col:nth-child(1){
  width: 35%;
}
table.topicList col:nth-child(2){
  width: 20%;
}
table.topicList col:nth-child(3){
  width: 12%;
}
table.topicList col:nth-child(4){
  width: 13%;
}
table.topicList col:nth-child(5){
  width: 20%;
}
table.topicList tr:nth-child(even){}
table.topicList tr:nth-child(odd){background-color: #fafafa}
/*table.topicList tr:hover {background-color: #ddd;}*/
table.topicList th {
  padding-top: 12px;
  padding-bottom: 12px;
}
a.linkStandardButtonLike{
  margin:  3px;
  padding: 3px;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: 0.6s;
  text-decoration: none;
}
a.linkStandardButtonLike:hover{
  background-color: #dfdfdf;
}
a.problemLinkQuiz{
  display: inline-block;
  margin:  3px;
  padding: 3px;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: 0.6s;
  text-decoration: none;
}
a.problemLinkQuiz:hover{ 
  background-color: Orange;
}
a.problemLinkPractice{
  display: inline-block;
  margin:  3px;
  padding: 3px;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: 0.6s;
  text-decoration: none;
}
a.problemLinkPractice:hover{
  background-color: PaleGreen;
}
a.slidesLink{
  display: inline-block;
  margin:  3px;
  padding: 3px;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: 0.6s;
  text-decoration: none;
}
a.slidesLink:hover{
  background-color: #dfdfdf;
}
a.videoLink{
  display: inline-block;
  margin:  3px;
  padding: 3px;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: 0.6s;
  text-decoration: none;
}
a.videoLink:hover{
  background-color: #dfdfdf;
}
a.linkForgotLoginPass{
  display: inline-block;
  margin:  3px;
  padding: 3px;
  font-size: 1.25em;
  text-decoration: none;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: 0.6s;
}
a.linkForgotLoginPass:hover{ 
  background-color: Orange;
}
a.linkSignUp{
  display: inline-block;
  margin:  3px;
  padding: 3px;
  font-size: 1.25em;
  text-decoration: none;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: 0.6s;
}
a.linkSignUp:hover{ 
  background-color: LawnGreen;
}
a.courseLink{
  display: inline-block;
  margin:  10px;
  padding: 3px;
  background-color: #ccffcc;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  font-weight: bold;
  font-size: 2em;
  border-radius: 7px;
  transition: 0.6s;
  text-decoration: none;
}
a.courseLink:hover{
  background-color: LawnGreen;
}
div.divLogin{
text-align: center;
}
div.divForgotLogin{
text-align: center;
}
div.divSignUp{
text-align: center;
}
div.divExternalLogin{
text-align: center;
}
div.mqButtonPanel{
margin: 0;
padding: 0;
overflow: hidden;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
transition: all 1s ease;
}

form.formLogin > * {
font-size: 1.1em;
}
table.tableLogin{
margin: 0 auto;
}
button.buttonLogin{
  display: inline;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #ccffcc;
  padding: 5px;
  color: #444;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.25em;
  font-weight: bold;
  transition: 0.6s;
}
button.buttonLogin:hover {
  background-color: LawnGreen
}
lectureTag{
color: green;
font-weight: bold;
font-size: 1.25em;
}
actualExamProblem{
font-weight: bold;
color: brown;
font-size: 1.25em;
}
advancedTopic{
font-weight: bold;
color: orange;
font-size: 1.25em;
}
reviewProblem{
font-weight: bold;
color: LawnGreen;
font-size: 1.25em;
}
panelProblemLinkStyleSelection{
  display: inline-block;
  margin:  3px;
  padding: 3px;
  background-color: #eaeaea;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 1em;
  border-radius: 3px;
  transition: 0.6s;
}
panelProblemLinkStyleSelection:hover{
  background-color: #dfdfdf;
}
span.currentCourseIndicator{
  display: inline-block;
  margin:  3px;
  padding: 3px;
  background-color: #eaeaea;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  font-size: 1.25em;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.6s;
}

.textInputUsername{
font-size: 0.9em;
font-weight: bold;
}
.g-signin2{
  width: 100%;
}
.g-signin2 > div{
  margin: 0 auto;
}

