/*styleCalculator.css*/
calculatorNavigation {
  background-color: #e8e8e8;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

calculatorNavigation:after{
clear:both;
}

tr.problemContainerRow{
/*height: 500px;*/
}

td.problemContainerCell{
/*height: 500px;*/
}

problemNavigation {
  text-align: center;
  background-color: #f0f0f0;
  width: 100%;
  overflow: none;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
  white-space: nowrap;
}	      

problemNavigation:after{
clear:both;
}

editPagePanel{
  text-align: center;
  display: block;
  width: 100%;
  background-color:#fafafa;
  white-space: nowrap;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}


textarea{
  resize: both;
}

.calculatorHidden{
  display:none;
}

.calculatorCommentBeforeSubmission{
  display:none;
}

.calculatorMQfieldEnclosure{
}

.problemForm{
}

.normalButton{
}

sectionSelection{
  position:fixed;
  background: silver;
  bottom:0;
  right:0;
}

.submitButton{
  color:red;
  width:60px;
}

.showSolutionButton{
  color:green;
  width:60px;
}

.submitButton:hover {
  background-color:#878787;
}

.previewButton {
  color:green;
  width:60px;
}

.previewButton:hover {
  background-color:#878787;
}

.showAnswerButton {
  color:green;
  width:60px;
}

.showAnswerButton:hover {
  background-color:#878787;
}

button.accordionLike {
  display: inline;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #efefef;
  padding: 2px;
  color: #444;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: medium;
  transition: 0.6s;
}

button.accordionLike.active, button.accordionLike:hover {
  background-color: #ddd;
}

button.accordion {
  padding: 2px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline;
  background-color: #efefef;
  color: #444;
  cursor: pointer;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: medium;
  transition: 0.6s;
}

button.accordion.active, button.accordion:hover {
  background-color: #dfdfdf;
}

button.accordion:after {
  vertical-align: middle;
  color: #777;
  margin-left: 0px;
}

button.accordion.active:after {
}

button.buttonStandard{
  margin: 2px;
}

button.buttonSaveEdit{
  margin: 4px;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 4px;
  display: inline;
  background-color: PaleGreen;
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: medium;
  transition: 0.6s; 
}
button.buttonSaveEdit:hover{
  background-color: green;
}
button.buttonClone{
  margin: 3px;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline;
  background-color: PaleGreen;
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: medium;
  transition: 0.6s; 
}
button.buttonClone:hover{
  background-color: green;
}

span.panel {
  display:none;
  padding: 0 0px;
  background-color: white;
  max-height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  transition: 0.6s linear;
  opacity: 0;
}

span.panel.show {
  transition: 0.6s linear;
  opacity: 1;
  max-height: 500px;
}

button.studentScoresButton{
  margin-top: 0;
  margin-bottom: 0px;
  font-size: medium;
  font-weight: normal;
  background-color: Transparent;
  padding: 2px;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  transition: 0.6s;
}

button.studentScoresButton.active, button.studentScoresButton:hover {
  background-color: #ddd;
}

span.studentScoresContent{
  transition: opacity 1s linear;
  opacity: 1;
}

span.panelProblemWeights{
  display: block;
  max-height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  transition: 1s linear;
  opacity: 0;
}

span.studentScoresWrapper{
  /*display: inline-block;*/
  width: 420px;
  font-size: medium;
  font-weight: normal;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

span.deadlineAndTitleContainer{
}

span.titleContainer{
}

td.deadlineCell{
  padding: 8px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: normal;
  width: 300px;
  font-size: medium;
  vertical-align: middle;
}

table.deadlineTable tr td{
margin: 0;
padding: 0;
}

table.deadlineTable tr th{
margin: 0;
padding: 0;
}

textarea.calculatorAnswer {
  padding: 0 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
  word-wrap: break-word;
  width: 60px
}

textarea.calculatorAnswer.show {
  opacity: 1;
  max-height: 500px;
}

textarea.currentFileNameArea {
  height: 20px;
  margin-bottom: -8px;
}
section {
  width: 100%;
  float: left;
  overflow: auto;
}

ol.listItem{
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-bottom: 5px;
}

li.listChapter{
  padding-bottom: 10px; 
  padding-left: 0;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 5px;
  display: block;
  font-weight: bold;
  font-size: 1.3em;
}
li.listSection{
  padding-bottom: 10px; 
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 5px;
  display: block;
  font-weight: bold;
  font-size: 0.9em;
}
li.listSubsection{
  padding-bottom: 10px; 
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 5px;
  display: block;
  font-weight: normal;
  font-size: 0.9em;
}

table.tableItem{
  width: 100%;
  /*border: 1px solid #ddd;*/
}

table.tableItem td, table.tableItem th {
  text-align: left;
  padding-left: 2px;
}
table.topicList {
  border-collapse: collapse;
  width: 100%;
  font-weight: normal;
  font-size: 1em;
}
table.topicList {
  counter-reset: rowNumber;
}
tr.calculatorProblem {
  counter-increment: rowNumber;
}
/*tr.calculatorProblem > td:nth-child(1)::before {
  content: counters(item, ".") "." counter(rowNumber) ".";
  min-width: 1em;
  margin-right: 0.5em;
}*/
table.topicList td, table.topicList th {
  border: 1px solid #ddd;
  text-align: left;
  padding-left: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}
table.tableItem col:nth-child(1){
  width: 35%;
}
table.tableItem col:nth-child(2){
  width: 20%;
}
table.tableItem col:nth-child(3){
  width: 12%;
}
table.tableItem col:nth-child(4){
  width: 13%;
}
table.tableItem col:nth-child(5){
  width: 20%;
}
table.topicList col:nth-child(1){
  width: 35%;
}
table.topicList col:nth-child(2){
  width: 20%;
}
table.topicList col:nth-child(3){
  width: 12%;
}
table.topicList col:nth-child(4){
  width: 13%;
}
table.topicList col:nth-child(5){
  width: 20%;
}
table.topicList tr:nth-child(even){}
table.topicList tr:nth-child(odd){background-color: #fafafa}
/*table.topicList tr:hover {background-color: #ddd;}*/
table.topicList th {
  padding-top: 12px;
  padding-bottom: 12px;
}

a.linkStandardButtonLike{
  margin: 3px;
  padding:3px;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: 0.6s;
}
a.linkStandardButtonLike:hover{
  background-color: #dfdfdf;
}

a.problemLinkQuiz{
  margin: 3px;
  padding:3px;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: 0.6s;
}
a.problemLinkPractice{
  margin: 3px;
  padding:3px;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: 0.6s;
}
a.slidesLink{
  margin: 3px;
  padding:3px;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: 0.6s;
}
a.videoLink{
  margin: 3px;
  padding:3px;
  background-color: #efefef;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: 0.6s;
}
a.problemLinkQuiz:hover{ 
  background-color: Orange;
}
a.problemLinkPractice:hover{
  background-color: PaleGreen;
}
a.slidesLink:hover{
  background-color: #dfdfdf;
}
a.videoLink:hover{
  background-color: #dfdfdf;
}

