/*styleCalculator.css*/
problemNavigation {
  background-color: #eeeeee;
  overflow: none;
  display: block;
  padding: 7px;
  white-space: nowrap;
}	      
problemNavigation:after{
clear:both;
}

textarea{
  resize: both;
}

.calculatorHidden{
  display:none;
}

.calculatorCommentBeforeSubmission{
  display:none;
}

.calculatorMQfieldEnclosure{
}

.problemForm{
}

.normalButton{
}

sectionSelection{
  position:fixed;
  background: silver;
  bottom:0;
  right:0;
}

.submitButton{
  color:red;
  width:60px;
}

.showSolutionButton{
  color:green;
  width:60px;
}

.submitButton:hover {
  background-color:#878787;
}

.previewButton {
  color:green;
  width:60px;
}

.previewButton:hover {
  background-color:#878787;
}

.showAnswerButton {
  color:green;
  width:60px;
}

.showAnswerButton:hover {
  background-color:#878787;
}

button.accordionLike {
  display: inline;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: medium;
  transition: 0.4s;
}

button.accordionLike.active, button.accordionLike:hover {
  background-color: #ddd;
}

button.accordion {
  display: inline;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: medium;
  transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
  background-color: #ddd;
}

button.accordion:after {
  vertical-align: middle;
  color: #777;
  margin-left: 0px;
}

button.accordion.active:after {
}

span.panel {
  display:none;
  padding: 0 0px;
  background-color: white;
  max-height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  transition: 0.6s linear;
  opacity: 0;
}

span.panel.show {
  transition: 0.6s linear;
  opacity: 1;
  max-height: 500px;
}

button.studentScoresButton{
  margin-top: 0;
  margin-bottom: 0px;
  font-size: medium;
  font-weight: normal;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

button.studentScoresButton.active, button.studentScoresButton:hover {
  background-color: #ddd;
}

span.studentScoresContent{
  transition: opacity 1s linear;
  opacity: 1;
}

span.panelProblemWeights{
  display: block;
  max-height: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  transition: 1s linear;
  opacity: 0;
}

span.studentScoresWrapper{
  /*display: inline-block;*/
  width: 420px;
  font-size: medium;
  font-weight: normal;
  margin-left: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

span.deadlineAndTitleContainer{
}

span.titleContainer{
}

span.deadlineContainer{
  display: inline-block;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: normal;
  width: 300px;
  font-size: medium;
  vertical-align: middle;
}

table.deadlineTable tr td{
margin: 0;
padding: 0;
}

table.deadlineTable tr th{
margin: 0;
padding: 0;
}

textarea.calculatorAnswer {
  padding: 0 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: 0.6s ease-in-out;
  opacity: 0;
  word-wrap: break-word;
  width: 60px
}

textarea.calculatorAnswer.show {
  opacity: 1;
  max-height: 500px;
}

textarea.currentFileNameArea {
  margin-top: 5px;
  margin-bottom: -2px;
  height: 1.5em;
  padding: 0px;
}


