span.spanExperimentalWarning {
  width: 50%;
  font-weight: bold;
}

table.tableStandard {
  border-collapse: collapse;
  border: 1px solid;
}

table.tableStandard td {
  border: 1px solid;
}

table.tableModuleDecomposition {
  border-collapse: collapse;
  border: 1px solid;
}

table.tableModuleDecomposition td {
  border-collapse: collapse;
  border: none;
}

table.tableNone {
  border-collapse: collapse;
  border: none;
}

table.tableNone td{
  border: none;
}

span.hElement {
  color: red;
}

span.fElement {
  color: blue;
}

div.divSubalgebraInformation{
  position: absolute;
  width: 10%;
  right: 0;
}

div.divSemisimpleSubalgebrasInformation{
  position: absolute;
  width: 10%;
  right: 0;
}